.loginBox {
    background-color: #3B4452;
    padding: 50px;
    border-radius: 20px;
    /* border: 1px solid black; */
    margin-top: 175px;
}

.logoImg {
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 300px;
    height: 80px;
}

.loginText, .passwordText, .bottomText, .link {
    color: rgb(219, 219, 219);
}

.buttonDiv {
    padding-top: 30px;    
    display: flex;
}

.loginBtn, .signupBtn {
    /* border: 1px solid black; */
    width: 100%;
    float: left;
}

.loginButton, .signupButton {
    color: rgb(219, 219, 219);
    background-color: transparent;
    border-radius: 10px;
    height: 125%;
    width: 70%;
    cursor: pointer;
}

.error {
    color: red;
}